/* .register-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .register-form {
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .register-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .register-input {
    width: 215px;
    height: 40px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
    font-size: 16px;
    &:focus {
      outline: none;
      border: 1px solid #1e88e5;
    }
}

.register-buttom {
    width: 100px;
    height: 40px;
    background-color: #1e88e5;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: #1976d2;
    }
  }
   */


   /* TITULO -------------------------------------------------------- */
#formulario{
  font-family: sans-serif;
  background: #14376d;
  color: white;
  padding: 5px;
  text-align: center;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom: 5px solid #205ab4;
  margin-bottom:5px;
}
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* FORMULARIO: fondo blanco y casillas --------------------------- */
form{
  background-color: white;
  margin:10px;
  margin:0 auto;
  border-radius:19px;
  width: 40%;
  /* SECUENCIA: para centrar formulario */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  /* TAMAÑO LETRA: nombre, apellido, e-mail, etc ----- */
    label{
      margin-left: 8px;
      font-size: 12px;
      padding: 5px;
      display:block;
      width: 100%;
      font-family: sans-serif;
    }
  /* -------------------------------------------------- */
  /* EDICION CADA INPUT: diseño ----------------------- */
    input{
      margin-bottom:10px;
      width: 95%;
      padding: 2%;
      margin-left: 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #ccc;
      font-style: italic;
    }
    /* Cuando da click dentro de un input --------------- */
      input:focus{
        background-color: #F2F2F2;
      }
    /* -------------------------------------------------- */
/* --------------------------------------------------------------- */
/* C U E R P O  -------------------------------------------------- */
body{
  background-image: linear-gradient(-90deg,#6ABBF7, #BD7CFA);
}
/* --------------------------------------------------------------- */
/* FUNCION DEL BOTON REGISTRARSE --------- */
#button {
        width: 94%;
        font-family: sans-serif;
        font-size:15px;
        font-weight: bolder;
        background-color: #205ab4;
        color: #fff;
        cursor: pointer;
        margin-bottom:15px;
        margin-left:10px;
        border: none;
        padding: 3%;
        border-radius: 20px 10px 20px 10px;
    /* SOMBRA BOTON: darle sommbre al boton "resgistrarse"*/
        -webkit-box-shadow: 4px 9px 8px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 9px 8px -4px rgba(0,0,0,0.75);
         box-shadow: 4px 9px 8px -4px rgba(0,0,0,0.75);
}
#button:hover{
  background-color: #7FACDE;
}
/* ---------------------------------------- */
