
<div class="login-box">
<form [formGroup]="loginForm" class="login-form">
    <h1 class="login-title">Inicio de sesion</h1>
    <input class="login-input" formControlName="user" type="text" placeholder="username">
    <br>
    <input class="login-input" formControlName="pwd" type="text" placeholder="password">
    </form>
  </div>
  <div class="login-box"><Button type="submit" class="login-buttom" (click)="login()">Login</Button>
  <div><a style="padding-left: 20px;" routerLink="/forgot-password">Forgot password?</a></div>
  </div>