<nav>
    <a class="button" routerLink="/home">Inicio</a>
    <a class="button" routerLink="">componente 2</a>
    <a class="button" routerLink="">componente 3</a>
    <a class="button" routerLink="">componente 4</a>
    <a class="button" routerLink="">componente 4</a>
    <a class="button" routerLink="">componente 6</a>
    <a class="button" routerLink="">componente 7</a>
    <a class="button" routerLink="">componente 8</a>
    <a class="button" routerLink="/login">Iniciar sesion</a> |
    <a class="button" routerLink="/register">Registrarse</a>
</nav>